@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 120px;
}

.container {
    display: grid;
    place-items: center;
}


/* MYRIAD EMBLEM */

.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, .95);
  }

  .square {
    width: 200px;
    height: 200px;
    border: 18px solid rgba(242,122,34,.5);
    border-radius: 25%;
    background-color: #fff;
    margin: -110px;
    transform: rotate(45deg);
    animation: spin 1.2s ease-in-out infinite;
  }
  
  .square:nth-child(2) {
    width: 180px;
    height: 180px;
    border-color: rgba(242,147,34,.5);
    z-index: -1;
  }
  
  .square:nth-child(3) {
    width: 170px;
    height: 170px;
    border-color: rgba(254,184,17,.5);
    z-index: -2;
  }
  
  .square:nth-child(4) {
    width: 160px;
    height: 160px;
    border-color: rgba(242,225,108,.5);
    z-index: -3;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(45deg);
    }
    50% {
        transform: rotate(225deg);
        margin: -70px;
    }
    100% {
        transform: rotate(45deg);
        margin: -110px;
    }
  }


/* LOADER 1 */
.loader {
    width: 80px;
    height: 80px;
    border: 9px solid #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 7px solid;
    border-color: #EA7F2E transparent;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


/* LOADER 2 */
.loader-two {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
  }
  
  .loader-two:before , .loader-two:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(248, 186, 41, 0.2) inset;
  }
  .loader-two:after {
    box-shadow: 0 4px 0 #EA7F2E inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }


/* LOADER 3 */
.loader-three {
    display: inline-block;
}

.spinner {
    width: 80px;
    height: 80px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: rgba(248, 186, 41, 0.2) #0000;
    animation: spinner-e04l1k 1s infinite linear;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
 }
 
 .spinner::before {
    border-color: #EA7F2E #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
 }
 
 .spinner::after {
    margin: 8.9px;
 }
 
 @keyframes spinner-e04l1k {
    100% {
       transform: rotate(1turn);
    }
 }